
build --cxxopt -std=c++17 --copt=-fdiagnostics-color=always  
build --experimental_ui_max_stdouterr_bytes=107374181 --local_ram_resources=512
build --linkopt="-lstdc++ -lm -lrt -pthread -L/usr/local/lib"

build:cxx17 --cxxopt -std=c++17
build:cxx20 --cxxopt -std=c++2a

build:opt --copt -O3 --copt -ftree-vectorize --copt -lm
build:dbg --copt -ggdb3 --copt -lm